.envrc
.direnv
.history
.__pycache__
hypervisor.ko
hypervisor.mod.c
hypervisor.mod.o
hypervisor.o
modules.order
.ccls-cache/
.hypervisor.ko.cmd
.hypervisor.mod.o.cmd
.hypervisor.o.cmd
Module.symvers
.tmp_versions/
.hypervisor.mod.cmd
hypervisor.mod
