[submodule "bootimage"]
	path = bootimage
	url = git@github.com:Luis-Hebendanz/bootimage.git
[submodule "svm_kernel/external/x86_64"]
	path = svm_kernel/external/x86_64
	url = git@github.com:Luis-Hebendanz/x86_64.git
[submodule "svm_kernel/external/x86"]
	path = svm_kernel/external/x86
	url = git@github.com:Luis-Hebendanz/x86_64.git
[submodule "svm_kernel/external/smoltcp"]
	path = svm_kernel/external/smoltcp
	url = git@github.com:Luis-Hebendanz/smoltcp.git
[submodule "vmsh"]
	path = vmsh
	url = git@github.com:Luis-Hebendanz/vmsh.git
[submodule "pxe/external/smoltcp"]
	path = pxe/external/smoltcp
	url = git@github.com:Luis-Hebendanz/smoltcp.git
