[submodule "deps/perf_bootloader"]
	path = deps/perf_bootloader
	url = git@github.com:Luis-Hebendanz/perf_bootloader.git
[submodule "deps/uart_16550"]
	path = deps/uart_16550
	url = git@github.com:Luis-Hebendanz/uart_16550.git
[submodule "deps/x86_64"]
	path = deps/x86_64
	url = git@github.com:Luis-Hebendanz/x86_64.git
	branch = new_registers
[submodule "deps/rust-cpuid"]
	path = deps/rust-cpuid
	url = git@github.com:Luis-Hebendanz/rust-cpuid.git
[submodule "deps/dyn_frame_alloc"]
	path = deps/dyn_frame_alloc
	url = git@github.com:Luis-Hebendanz/dyn_frame_alloc.git
[submodule "deps/rangeset"]
	path = deps/rangeset
	url = git@github.com:Luis-Hebendanz/rangeset.git
[submodule "deps/x86"]
	path = deps/x86
	url = git@github.com:Luis-Hebendanz/x86.git
[submodule "deps/pic8259"]
	path = deps/pic8259
	url = git@github.com:Luis-Hebendanz/pic8259.git
[submodule "deps/multiboot2"]
	path = deps/multiboot2
	url = git@github.com:Luis-Hebendanz/multiboot2.git
