[submodule "bootimage"]
	path = bootimage
	url = git@github.com:Luis-Hebendanz/bootimage.git
[submodule "svm_kernel/external/x86_64"]
	path = kernel/external/x86_64
	url = git@github.com:Luis-Hebendanz/x86_64.git
[submodule "svm_kernel/external/x86"]
	path = kernel/external/x86
	url = git@github.com:Luis-Hebendanz/x86_64.git
[submodule "svm_kernel/external/smoltcp"]
	path = svm_kernel/external/smoltcp
	url = git@github.com:Luis-Hebendanz/smoltcp.git
[submodule "vmsh"]
	path = tools/vmsh
	url = git@github.com:Luis-Hebendanz/vmsh.git
[submodule "pxe/external/smoltcp"]
	path = pxe/external/smoltcp
	url = git@github.com:Luis-Hebendanz/smoltcp.git
[submodule "kernel/external/rust-cpuid"]
	path = kernel/external/rust-cpuid
	url = git@github.com:Luis-Hebendanz/rust-cpuid.git
[submodule "kernel/external/multiboot2"]
	path = kernel/external/multiboot2
	url = git@github.com:Luis-Hebendanz/multiboot2.git
