.envrc
*.idea
svm_kernel/external/chocolate_milk/
svm_kernel/target/
target/**
parse-gdt/target/
gdb.sh
run_bootloader.sh
svm_kernel/external/bootloader/target/
svm_kernel/external/mybootloader/target
.direnv
.ccls-cache
cpuid.c
.history
test
test.rs
test.c
.~lock*
.__pycache__
.envrc
.direnv
.history
.__pycache__
